* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #8a2be2;
}

.main-container {
  width: 30%;
  margin: 4em auto;
}

.user-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 1em;
}

.header {
  padding: 0 0 1em;
  border-bottom: solid 1px #dedede;
}

.user-data {
  margin-top: 1em;
}

.user-data p {
  margin-top: 0.5em;
}
