.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(15, 23, 42, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardWrapper {
  width: 40%;
  min-width: 700px;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border: 1px solid rgba(203, 213, 225, 1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.titleAndMessage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 0.5rem;
}

.title,
.message {
  width: fit-content;
}

.title h1 {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.8rem;
  color: rgba(15, 23, 42, 1);
}

.message {
  width: 70%;
}

.message p {
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: rgba(100, 116, 139, 1);
  text-align: left;
}
